# DC Properties Regression

In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

%matplotlib inline

In [5]:
#load csv file data with headers

location = "DC_Properties.csv"
dfDCproperties = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
dfDCproperties.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [7]:
dfDCproperties.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [8]:
dfDCproperties.shape

(158957, 49)

In [9]:
dfDCproperties.keys()

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [13]:
dfDCproperties.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

#data = dataset, target = dependent variable, feature_names = column headers, DESCR = data dictionary
Code-> boston.keys()

Output-> dict_keys(['data', 'target', 'feature_names', 'DESCR'])



from sklearn.datasets import load_boston
boston = load_boston()

Available Datasets

load_boston([return_X_y]) Load and return the boston house-prices dataset (regression). 

load_iris([return_X_y]) Load and return the iris dataset (classification). 

load_diabetes([return_X_y]) Load and return the diabetes dataset (regression). 

load_digits([n_class, return_X_y]) Load and return the digits dataset (classification). 

load_linnerud([return_X_y]) Load and return the linnerud dataset (multivariate regression). 

load_wine([return_X_y]) Load and return the wine dataset (classification). 

load_breast_cancer([return_X_y]) Load and return the breast cancer wisconsin dataset (classification).

In [10]:
#This data set does not have the preset sklearn format 
print (dfDCproperties.DESCR)

AttributeError: 'DataFrame' object has no attribute 'DESCR'

In [11]:
#This data set does not have the preset sklearn format 
dfDCproperties.target[:5]

AttributeError: 'DataFrame' object has no attribute 'target'

In [14]:
dfDCproperties.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [15]:
#First clean data linear regression works on numeric values

from sklearn.linear_model import LinearRegression
X = dfDCproperties.drop('PRICE', axis = 1)

#assign linear regression function to a variable
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
dfDCproperties['PRICE'].value_counts()

350000.0     595
250000.0     536
300000.0     523
450000.0     519
375000.0     488
325000.0     482
550000.0     459
275000.0     455
500000.0     426
320000.0     425
200000.0     422
425000.0     419
600000.0     403
315000.0     402
330000.0     396
650000.0     387
525000.0     387
285000.0     377
225000.0     376
265000.0     374
310000.0     371
475000.0     364
360000.0     364
260000.0     360
280000.0     352
385000.0     352
335000.0     352
220000.0     349
240000.0     348
230000.0     347
            ...
168700.0       1
674755.0       1
5397500.0      1
168670.0       1
674670.0       1
468400.0       1
337325.0       1
1096000.0      1
337562.0       1
1350250.0      1
337575.0       1
117164.0       1
84461.0        1
468890.0       1
84450.0        1
84449.0        1
503850.0       1
337750.0       1
675490.0       1
114620.0       1
466250.0       1
468776.0       1
337700.0       1
234384.0       1
937499.0       1
337650.0       1
675265.0       1
468674.0       1
21100.0        1
648150.0       1
Name: PRICE, Length: 13486, dtype: int64

In [25]:
dfDCproperties.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [26]:
#Drop colmumns with most NaN values
#CMPLX_NUM             106696
#LIVING_GBA            106696


dfDCproperties2=dfDCproperties.drop(['CMPLX_NUM','LIVING_GBA'], axis=1)

In [27]:
dfDCproperties2.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'FULLADDRESS',
       'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE', 'LONGITUDE',
       'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT', 'CENSUS_BLOCK',
       'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [28]:
dfDCproperties2.isnull().sum()

Unnamed: 0                0
BATHRM                    0
HF_BATHRM                 0
HEAT                      0
AC                        0
NUM_UNITS             52261
ROOMS                     0
BEDRM                     0
AYB                     271
YR_RMDL               78029
EYB                       0
STORIES               52305
SALEDATE              26770
PRICE                 60741
QUALIFIED                 0
SALE_NUM                  0
GBA                   52261
BLDG_NUM                  0
STYLE                 52261
STRUCT                52261
GRADE                 52261
CNDTN                 52261
EXTWALL               52261
ROOF                  52261
INTWALL               52261
KITCHENS              52262
FIREPLACES                0
USECODE                   0
LANDAREA                  0
GIS_LAST_MOD_DTTM         0
SOURCE                    0
FULLADDRESS           52917
CITY                  52906
STATE                 52906
ZIPCODE                   1
NATIONALGRID          52906
LATITUDE                  1
LONGITUDE                 1
ASSESSMENT_NBHD           1
ASSESSMENT_SUBNBHD    32551
CENSUS_TRACT              1
CENSUS_BLOCK          52906
WARD                      1
SQUARE                    0
X                       237
Y                       237
QUADRANT                237
dtype: int64

In [29]:
import seaborn as sns

In [30]:
dfDCproperties2.corr()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,KITCHENS,FIREPLACES,USECODE,LANDAREA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
Unnamed: 0,1.000000,-0.378389,-0.358454,-0.051664,-0.585978,-0.598538,0.438398,-0.115391,-0.133335,-0.043577,...,-0.061138,0.002666,0.299741,-0.207757,0.141489,-0.210494,0.106993,0.161255,0.106642,-0.211284
BATHRM,-0.378389,1.000000,0.248759,0.403431,0.677751,0.655563,-0.039087,0.239797,0.269444,0.042349,...,0.423178,-0.001632,0.121070,0.287648,-0.063410,0.130588,-0.184810,-0.196311,-0.184997,0.129822
HF_BATHRM,-0.358454,0.248759,1.000000,-0.151393,0.353825,0.375568,-0.009372,0.148483,0.235645,0.033270,...,-0.132895,-0.001635,-0.229586,0.212534,-0.020164,0.126221,-0.058719,-0.072888,-0.058819,0.126238
NUM_UNITS,-0.051664,0.403431,-0.151393,1.000000,0.524724,0.330551,-0.104280,-0.015551,-0.069551,0.019268,...,0.930610,-0.030635,0.797330,-0.038679,-0.099460,-0.117125,0.037280,0.060408,0.037291,-0.117025
ROOMS,-0.585978,0.677751,0.353825,0.524724,1.000000,0.841309,-0.219367,0.161396,0.158847,0.039352,...,0.525796,-0.003660,-0.042795,0.348184,-0.053109,0.120238,0.006756,-0.075593,0.006399,0.119712
BEDRM,-0.598538,0.655563,0.375568,0.330551,0.841309,1.000000,-0.242955,0.214655,0.168913,0.040859,...,0.346781,-0.004696,-0.131676,0.321066,-0.071962,0.144971,0.028338,-0.072028,0.028024,0.144723
AYB,0.438398,-0.039087,-0.009372,-0.104280,-0.219367,-0.242955,1.000000,0.021678,0.660668,-0.011098,...,-0.108947,0.001453,0.078079,-0.040503,0.175098,-0.122697,0.032979,0.115762,0.033361,-0.122607
YR_RMDL,-0.115391,0.239797,0.148483,-0.015551,0.161396,0.214655,0.021678,1.000000,0.256227,-0.001643,...,0.003241,0.001622,-0.094586,0.049021,-0.098040,0.044246,0.145658,0.069060,0.145585,0.044158
EYB,-0.133335,0.269444,0.235645,-0.069551,0.158847,0.168913,0.660668,0.256227,1.000000,0.040214,...,-0.048890,0.000097,-0.059968,0.081796,0.041599,-0.082219,0.005107,0.036704,0.005332,-0.082212
STORIES,-0.043577,0.042349,0.033270,0.019268,0.039352,0.040859,-0.011098,-0.001643,0.040214,1.000000,...,0.021013,0.033622,0.020700,-0.009711,-0.026886,-0.003654,-0.031842,-0.025058,-0.031842,-0.003597
PRICE,0.033219,-0.006536,-0.013113,-0.000469,-0.038241,-0.043331,0.056041,0.030072,0.049627,0.042337,...,0.045213,0.023989,0.026404,-0.005457,0.001467,0.044505,-0.095247,-0.069743,-0.095253,0.044581
SALE_NUM,0.047972,0.068399,0.002193,0.013986,-0.034828,-0.024835,0.017096,0.157290,0.053879,0.012937,...,0.029022,0.000653,0.037797,-0.045083,-0.028697,-0.012872,-0.009749,-0.006601,-0.009677,-0.012940
GBA,-0.269501,0.682977,0.272598,0.264009,0.679725,0.631736,0.006706,0.005231,0.311207,0.056026,...,0.279690,0.502708,0.205906,0.432342,-0.097850,0.172897,-0.398899,-0.342124,-0.399379,0.172223
BLDG_NUM,-0.009726,-0.000207,-0.009322,0.010247,-0.003255,-0.006528,0.005310,0.002231,0.014750,-0.003790,...,0.007495,-0.000055,0.040795,0.091614,0.000217,-0.012939,-0.000261,-0.003020,-0.000509,-0.013135
KITCHENS,-0.061138,0.423178,-0.132895,0.930610,0.525796,0.346781,-0.108947,0.003241,-0.048890,0.021013,...,1.000000,-0.008160,0.747589,-0.023260,-0.104648,-0.106070,0.016768,0.039702,0.016675,-0.105958
FIREPLACES,0.002666,-0.001632,-0.001635,-0.030635,-0.003660,-0.004696,0.001453,0.001622,0.000097,0.033622,...,-0.008160,1.000000,0.001800,-0.000888,-0.001311,-0.000615,-0.001187,0.003275,-0.001186,-0.000616
USECODE,0.299741,0.121070,-0.229586,0.797330,-0.042795,-0.131676,0.078079,-0.094586,-0.059968,0.020700,...,0.747589,0.001800,1.000000,-0.145187,-0.007196,-0.111173,-0.094708,-0.003574,-0.094612,-0.111016
LANDAREA,-0.207757,0.287648,0.212534,-0.038679,0.348184,0.321066,-0.040503,0.049021,0.081796,-0.009711,...,-0.023260,-0.000888,-0.145187,1.000000,0.026285,0.130343,-0.048676,-0.075557,-0.050607,0.129348
ZIPCODE,0.141489,-0.063410,-0.020164,-0.099460,-0.053109,-0.071962,0.175098,-0.098040,0.041599,-0.026886,...,-0.104648,-0.001311,-0.007196,0.026285,1.000000,-0.127103,0.023430,0.090877,0.023015,-0.126776
LATITUDE,-0.210494,0.130588,0.126221,-0.117125,0.120238,0.144971,-0.122697,0.044246,-0.082219,-0.003654,...,-0.106070,-0.000615,-0.111173,0.130343,-0.127103,1.000000,-0.499464,-0.563457,-0.499904,0.999919
LONGITUDE,0.106993,-0.184810,-0.058719,0.037280,0.006756,0.028338,0.032979,0.145658,0.005107,-0.031842,...,0.016768,-0.001187,-0.094708,-0.048676,0.023430,-0.499464,1.000000,0.785436,0.999897,-0.499661
CENSUS_TRACT,0.161255,-0.196311,-0.072888,0.060408,-0.075593,-0.072028,0.115762,0.069060,0.036704,-0.025058,...,0.039702,0.003275,-0.003574,-0.075557,0.090877,-0.563457,0.785436,1.000000,0.785422,-0.563861
X,0.106642,-0.184997,-0.058819,0.037291,0.006399,0.028024,0.033361,0.145585,0.005332,-0.031842,...,0.016675,-0.001186,-0.094612,-0.050607,0.023015,-0.499904,0.999897,0.785422,1.000000,-0.499799
Y,-0.211284,0.129822,0.126238,-0.117025,0.119712,0.144723,-0.122607,0.044158,-0.082212,-0.003597,...,-0.105958,-0.000616,-0.111016,0.129348,-0.126776,0.999919,-0.499661,-0.563861,-0.499799,1.000000

In [34]:
dfDCproperties2.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

Analyzind non numeric field dropped from dataset dfDCNumeric
Following field may be converted to int type

In [40]:
dfDCproperties2['WARD'].value_counts()

Ward 6    23973
Ward 3    23688
Ward 4    22202
Ward 2    22167
Ward 5    21359
Ward 1    17455
Ward 7    17206
Ward 8    10906
Name: WARD, dtype: int64

In [42]:

dfDCproperties2['HEAT'].value_counts()

Forced Air        53972
Hot Water Rad     47202
Warm Cool         33628
Ht Pump           21412
Wall Furnace       1120
Water Base Brd      402
Elec Base Brd       351
No Data             330
Electric Rad        144
Gravity Furnac      140
Air-Oil             117
Evp Cool             50
Ind Unit             50
Air Exchng           39
Name: HEAT, dtype: int64

In [41]:
 
dfDCproperties2['AC'].value_counts()

Y    114620
N     44272
0        65
Name: AC, dtype: int64

In [43]:

dfDCproperties2['QUALIFIED'].value_counts()

U    82608
Q    76349
Name: QUALIFIED, dtype: int64

In [45]:

dfDCproperties2['GRADE'].value_counts()

Average          37357
Above Average    32101
Good Quality     20800
Very Good         8976
Excellent         3390
Superior          2634
Exceptional-A      818
Exceptional-B      278
Fair Quality       150
Exceptional-C       92
Exceptional-D       75
No Data             19
Low Quality          6
Name: GRADE, dtype: int64

In [36]:
#Creating a data frame with only numeric fields
dfDCNumeric= dfDCproperties2._get_numeric_data()
dfDCNumeric.dtypes

Unnamed: 0        int64
BATHRM            int64
HF_BATHRM         int64
NUM_UNITS       float64
ROOMS             int64
BEDRM             int64
AYB             float64
YR_RMDL         float64
EYB               int64
STORIES         float64
PRICE           float64
SALE_NUM          int64
GBA             float64
BLDG_NUM          int64
KITCHENS        float64
FIREPLACES        int64
USECODE           int64
LANDAREA          int64
ZIPCODE         float64
LATITUDE        float64
LONGITUDE       float64
CENSUS_TRACT    float64
X               float64
Y               float64
dtype: object

In [39]:
dfDCNumeric.shape

(158957, 24)